<!--
<div class="widgets">

  <div class="row">
    <div class="col-md-6">
      <ba-card title="Standard Fields" baCardClass="with-scroll">
        <standard-inputs></standard-inputs>
      </ba-card>

      <ba-card title="Input Groups" baCardClass="with-scroll">
        <group-inputs></group-inputs>
      </ba-card>

      <ba-card title="Selects" baCardClass="with-scroll">
        <select-inputs></select-inputs>
      </ba-card>
    </div>

    <div class="col-md-6">
      <ba-card title="Validation States" baCardClass="with-scroll">
        <validation-inputs></validation-inputs>
      </ba-card>

      <ba-card title="Checkboxes & Radios" baCardClass="with-scroll">
        <checkbox-inputs></checkbox-inputs>
      </ba-card>

      <ba-card title="Rating" baCardClass="with-scroll">
        <rating-inputs></rating-inputs>
      </ba-card>
    </div>
  </div>



</div>-->

<div class="feed-messages-container">
  <div class="feed-message" *ngFor="let message of reportList">
    
    <div class="text-block text-message">
      <div class="message-header">
        <span class="author">{{ message.firstName }} {{ message.lastName}}</span>
      </div>
      <div class="message-content">
        <span>From: {{ message.location }} </span>
      </div>
      <div class="message-content">
        <span>Crisis Type: {{ message.crisisType }} </span>
      </div>
      <div class="message-content">
        <span>Author Comment: {{ message.description}} </span>
      </div>
    </div>
  </div>
</div>




