<div class="widgets">

  <div class="row">
    <div class="col-md-6">
      <li *ngFor="let formReport of HAZEREPORT" style="list-style:none">
        <ba-card title="Haze Report" baCardClass="with-scroll">
            <article style="font-size:2">
              <p>ID : {{formReport.id}}</p>
              <p>Name : {{formReport.firstName + " " + formReport.lastName}}</p>
              <p>Telephone : {{formReport.telephone}}</p>
              <p>Location : {{formReport.location}}</p>
              <p>Description : {{formReport.description}}</p>
              <p>Crisis Status : {{formReport.crisisState}}</p>
            </article>
        </ba-card>
      </li>
    </div>

    <div class="col-md-6">
        <li *ngFor="let formReport of DENGUEREPORT" style="list-style:none">
          <ba-card title="Dengue Report" baCardClass="with-scroll">
              <article style="font-size:2">
                <p>ID : {{formReport.id}}</p>
                <p>Name : {{formReport.firstName + " " + formReport.lastName}}</p>
                <p>Telephone : {{formReport.telephone}}</p>
                <p>Location : {{formReport.location}}</p>
                <p>Description : {{formReport.description}}</p>
                <p>Crisis Status : {{formReport.crisisState}}</p>
              </article>
          </ba-card>
        </li>
    </div>
  </div>

</div>



<!--
<h3>HAZE REPORT</h3>
  <ul>
      <li *ngFor="let formReport of HAZEREPORT" border="3">
            <h3>{{formReport.id}}</h3>
            <p>{{formReport.firstName + " " + formReport.lastName}}</p>
            <p>{{formReport.telephone}}</p>
            <p>{{formReport.location}}</p>
            <p>{{formReport.description}}</p>
      </li>
  </ul>

-->
