

  <div *ngFor="let message of reportList | async">
    <div class="row">
        <span class = "col-sm-4"> Location: {{ message.location }} </span>
        <span class = "col-sm-2"> Type: {{ message.crisisType}} </span>
        <span class = "col-sm-4"> By:{{ message.firstName}} {{message.lastName}} </span>

        <div class = "col-sm-2">
          <input type="button" name="Verify" value="Verify" (click)="verifyReport(message)">
        </div>
      </div>
  </div>



<!--
<div class="widgets">
  <div class="row">
    <div class="col-md-9" *ngFor="let formReport of reportList">
      <ba-card title="Haze Report" baCardClass="with-scroll">
          <article>
            <p>ID : {{formReport.id}}</p>
            <p>Name : {{formReport.firstName + " " + formReport.lastName}}</p>
            <p>Telephone : {{formReport.telephone}}</p>
            <p>Location : {{formReport.location}}</p>
            <p>Description : {{formReport.description}}</p>
            <p>Crisis Status : {{formReport.crisisState}}</p>
          </article>
      </ba-card>
    </div>
  </div>
</div>
-->
