<div>
  <div class="row">
    <div class="col-sm-4">
      <a> Crisis State: {{crisisState}} </a>
    </div>
    <div class="col-sm-2">
      <input type="button" class = "btn btn-success" name="Before Crisis" value="Before Crisis" (click)="updateBeforeCrisis()">
    </div>
    <div class="col-sm-2">
      <input type="button" class = "btn btn-danger" name="In Crisis" value="In Crisis" (click)="updateInCrisis()">
    </div>
    <div class="col-sm-2">
      <input type="button" class = "btn btn-warning" name="After Crisis" value="After Crisis" (click)="updateAfterCrisis()">
    </div>
  </div>
  <br><br><br>
  <h3> Full Report List </h3> <br>
  <div *ngFor="let message of reportList | async">
    <div class="row">
        <span class = "col-sm-4"> Location: {{message.location}} </span>
        <span class = "col-sm-2"> Type: {{message.crisisType}} </span>
        <span class = "col-sm-2"> By: {{message.firstName}} {{message.lastName}} </span>
        <span class = "col-sm-2"> Verified: {{message.verified}}</span>
        <div class = "col-sm-1">
          <input type="button" class = "btn btn-warning" name="Verify" value="Verify" (click)="verifyReport(message)">
        </div>
        <div class = "col-sm-1">
          <input type="button" class = "btn btn-danger" name="Delete" value="Delete" (click)="deleteReport(message)">
        </div>
      </div>
      <br>
  </div>
</div>

<div *ngIf = "submitted"> {{feedback}} </div>



<!--
<div class="widgets">
  <div class="row">
    <div class="col-md-9" *ngFor="let formReport of reportList">
      <ba-card title="Haze Report" baCardClass="with-scroll">
          <article>
            <p>ID : {{formReport.id}}</p>
            <p>Name : {{formReport.firstName + " " + formReport.lastName}}</p>
            <p>Telephone : {{formReport.telephone}}</p>
            <p>Location : {{formReport.location}}</p>
            <p>Description : {{formReport.description}}</p>
            <p>Crisis Status : {{formReport.crisisState}}</p>
          </article>
      </ba-card>
    </div>
  </div>
</div>
-->
